<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Cancer Cell Pipeline</title>
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
 
<body style="padding-bottom: 50px;">

        <div class="container">
            <div class="header">
                <h2 class="text-dark" style="margin-top: 2em">Cancer Cell Analysis Pipeline</h2>
            </div>
        </div>

        <div class="container" style="margin-top: 2em">
            <h5 id="ccf_running"><i id="ccf_spinner" class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin-right:1em"></i>CCF Analysis</h5>
            <h5 id="class_running"><i id="class_spinner" class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin-right:1em"></i>Classification</h5>
            <h5 id="tm_running"><i id="tm_spinner" class="fa fa-circle-o-notch fa-spin" style="font-size:24px; margin-right:1em"></i>Topic Modelling</h5>
        </div>


        <script>
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{{ url_for("logging") }}');
            xhr.send();
            

            function newData() {
                var message = xhr.responseText.split('\n');
                console.log(message)
                if (message.includes("CCF analysis complete.")) {
                    $("#ccf_spinner").attr("class", "fa fa-check");
                    $("#ccf_spinner").css("color", "green");
                }
                if (message.includes("Sample classification complete.")) {
                    $("#class_spinner").attr("class", "fa fa-check");
                    $("#class_spinner").css("color", "green");
                }
                if (message.includes("Topic modelling complete.")) {
                    $("#tm_spinner").attr("class", "fa fa-check");
                    $("#tm_spinner").css("color", "green");
                    setTimeout(function () {
                        window.location ="/results/";
                    }, 1000);
                }
            }
            var timer;
            timer = setInterval(function() {
                newData();
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    clearInterval(timer);
                }
            }, 500);
        </script>        

</body>
 
</html>